{"author" "Amit K Singh"
 "contributor-id" "5d8c9931-da7e-48ed-86a5-0da65b7c3f13"
 "description" "This is the original Stillinger-Weber parameterization for Si due to Stillinger and Weber (1985). The cohesive energy diamond Si obtained from this model is 4.3364 eV. This Model corresponds to the Si.sw parameter file distributed with the LAMMPS package except that Si.sw uses epsilon=2.1683 and the KIM model uses 2.1682 (converted more precisely from 50 kcal/mol given in the SW paper). However, given the low accuracy of the source data, either is acceptable. Due to this difference, the Si.sw file from LAMMPS and the KIM model give slightly different results scaled by 2.1683/2.1682."
 "doi" "10.25950/c74b293f"
 "domain" "openkim.org"
 "extended-id" "SW_StillingerWeber_1985_Si__MO_405512056662_005"
 "kim-api-version" "2.0"
 "maintainer-id" "5d8c9931-da7e-48ed-86a5-0da65b7c3f13"
 "model-driver" "SW__MD_335816936951_004"
 "publication-year" "2018"
 "source-citations" [{"author" "Stillinger, Frank H. and Weber, Thomas A."
                      "doi" "10.1103/PhysRevB.31.5262"
                      "issue" "8"
                      "journal" "Physical Review B"
                      "month" "Apr"
                      "pages" "5262--5271"
                      "publisher" "American Physical Society"
                      "recordkey" "MO_405512056662_005a"
                      "recordtype" "article"
                      "title" "Computer simulation of local order in condensed phases of silicon"
                      "volume" "31"
                      "year" "1985"}
                     {"author" "Tadmor, Ellad B. and Miller, Ronald E."
                      "doi" "10.1017/CBO9781139003582"
                      "publisher" "Cambridge University Press"
                      "recordkey" "MO_405512056662_005b"
                      "recordtype" "book"
                      "title" "Modeling Materials: {C}ontinuum, Atomistic and Multiscale Techniques"
                      "year" "2011"}]
 "species" ["Si"]
 "title" "Stillinger-Weber potential for Si due to Stillinger and Weber (1985) v005"}
